
/* Globl variables */
$primaryColor: #fff;

/* head, html and body */
html, body {
	height: 100%;
	padding: 0px;
  margin: 0px;
	background: $primaryColor;
	font-family: 'Nunito', sans-serif;
	font-size: 26px;
}

h5, h6 {
  padding: 0;
  margin: 0;
}

input, button {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
}

table {
    border-collapse: collapse;
}

td, th {
    border: 1px solid black;
    padding: 3px;
}


.required {
  border-radius: 5px;
  border:#FF0000 1px solid;
}

#clockdiv{
  text-align: center;
  font-size: 12px;
  padding-bottom: 20px;
}

.login-container{
    max-width: 740px;
    margin-top: 5%;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.login-container form{
    padding: 28%;
    padding-top: 0;
    padding-bottom: 5%;
    font-size: 16px;
}
.btnSubmit
{
  width: 30%;
  background: white;
  color: black;
  border-radius: 1rem;
  padding: 1.5%;
  border-color: black;
  cursor: pointer;
  font-size: 18px;
  font-weight:bold;
  outline: none;
}


.btnSubmit:hover{
  transform: scale(1.01);
}

.btnSubmit:active{
  background: black;
  color: white;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

.hint{
  color: #222;
  padding: 10px;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
  font-size: 12px;
}

@media (max-width: 576px){
  .center{
    width: 80%;
  }

  .login-container{
      max-width: none;
  }

  .login-container form {
    padding: 0;
  }

  .signin-container{
      max-width: none;
  }

  .signin-container form {
    padding: 0;
  }

  .btnSubmit {
    border-radius: 3rem;
  }

  .extraSpacing {
    display: none;
  }
}


/* Style the header */
header {
  background-color: #fff;
  padding: 0 30px;
  padding-bottom: 0;
  text-align: center;
  font-size: 35px;
  color: #000;
  width: 80%;
  margin: 0 auto;
}

header img {
  padding: 0 0 20px 0;
}

/* Style the footer */
footer {
  position: fixed;
  bottom: 0;
  padding: 0 20px;
  font-size: 10px;
  background: none;
  color: #000;
  z-index: 1000;
}

/* Firebase login */
#firebaseui-auth-container {
  background-color: #fff;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  color: rgba(0,0,0,0.87);
  direction: ltr;
  font: 16px Roboto,arial,sans-serif;
  margin: 0 auto;
  max-width: 360px;
  overflow: visible;
  position: absolute;
  text-align: center;
  left: 50%;
  transform: translate(-50%, 0%);
}

/* modal */
.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 1rem 1.5rem;
  width: 24rem;
  border-radius: 0.5rem;
  font-size: 16px;
}

.close-button {
  float: right;
  width: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  cursor: pointer;
  border-radius: 0.25rem;
  background-color: lightgray;
}

.close-button:hover {
  background-color: darkgray;
}

.show-modal {
  opacity: 1;
  visibility: visible;
  transform: scale(1.0);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.row {
  display: flex;
}

.bigbutton {
  color: #000;
  padding: 5px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  font-size: 12px;
  cursor: pointer;
  border: none;
  color: white;
  outline: none;
}


.bigbutton:hover{
  transform: scale(1.1);
}

.bigbutton:active{
  transform: scale(0.9);
}

.intense {
  cursor:pointer;
}

/* Side Navigation */
#ham_button {
  position: absolute;
  font-size:30px;
  cursor:pointer;
  padding:35px;
  padding-bottom: 0px;
  border: none;
  background: none;
  top: 0;
  left: 0;
  outline: none;
}

.sidenav {
	height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #fff;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  color: #000;
  display: block;
  transition: 0.3s;
	font-family: 'Nunito', sans-serif;
	font-size: 24px;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .selected {
  color: #f1f1f1;
  background: #000;
}

.sidenav.closed {
	border: none;
}

.sidenav.open {
	-webkit-box-shadow: 1px 1px 3px 1px #999;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    1px 1px 3px 1px #999;  /* Firefox 3.5 - 3.6 */
  box-shadow:         1px 1px 3px 1px #999;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}


.main-div {
  width: 85%;
  margin: auto;
  padding: 0 20px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

#main {
  transition: transform .5s;
  padding: 0;
  max-width: 740px;
  margin: 0 auto;
  width: 80%;
}


#header_content {
  transition: transform .5s;
}

#about {
  transition: transform .5s;
  padding: 20px;
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
}